body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-position: 0 0;
    background-repeat: repeat;
    background-image: url('../images/pattern.svg');
    background-size: 400px;
    background-color: #B1B3DA;
  }

  main {
    flex: 1 0 auto;
  }

/* .preloader-wrapper {
    position: absolute;
    top: calc(25% - 32px);
    left: calc(50% - 32px);
    z-index: 1000;
} */

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: #eee; */

	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

nav {
    border-radius: 0px 0px 20px 20px;
    /* back ground-color: #FCEDF7; */
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 20%;
}

/* .custom-nav {
    background-image: linear-gradient(to right, #FCEDF7, #78DDBB, #696DCF, #FF85C8, #FF85C8);
    border-radius: 0px 0px 20px 20px;
    padding: 2px;
} */

.brand-logo img {
    height: 37px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.card,/* .tabs, */.btn,.card-action,.material-tooltip {
    border-radius: 20px
    !important;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    /* font-family: Helvetica-Light; */
    font-family: ArialRoundedMTProCyr-Bold;
    font-size: 1.2em;
    font-kerning: normal;
    font-weight: 100;
}

.title-card {
    font-family: Helvetica-Bold;
}

.custom-tabs {
    background-color: transparent;
}

h3.truncate {
    margin: 1rem;
}

.offer-image-preview {
    height: 200px;
    margin: 20px 0px 20px 20px;
}
.cards-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.category-card,.category-image {
    width: 200px;
}

.category-icon {
    width: 48px;
}

 .offer-media-card {
    width: 400px;
}

.offer-editor-image,.offer-editor-video {
    max-height: 400px;
}

.news-card {
    width: 300px;
    color: black
    !important
}

/* .news-card .card-action a {
    color: #0d47a1
    !important
} */

.big-logo {
    padding: 5px;
}

.logo-image {
    height: 70px;
    border-radius: 0px;
}

.avatar-image {
    max-height: 350px;
}
a.main-menu:hover {
    background-color: inherit;
}

input[type=text]:not(.browser-default):disabled {
    color: rgba(0,0,0,1) !important;
}

#manage-users-form div.card-content {
    overflow-y: auto;
}

.nav-wrapper .sidenav-trigger .material-icons {
    color: black !important;
}
