body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-position: 0 0;
    background-repeat: repeat;
    background-image: url('../images/pattern.png');
    background-color: #e6d1f2;
  }

  main {
    flex: 1 0 auto;
  }

.preloader-wrapper {
    position: absolute;
    top: calc(25% - 32px);
    left: calc(50% - 32px);
    /*display: none;*/
    z-index: 1000;
}

nav {
    border-radius: 0px 0px 20px 20px;
    background-color: #d3b0ea;
}

.brand-logo img {
    height: 64px;
    margin-left: 20px;
    margin-right: 20px;
}

.card,.tabs,.btn {
    border-radius: 20px;
}

h3.truncate {
    margin: 1rem;
}

.offer-image-preview {
    height: 200px;
}
.categories-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.category-card {
    /* margin-left: 5px;
    margin-right: 5px; */
    max-width: 400px;
    /* flex: 1 300px;
    padding: 0rem;
    margin: 0.75rem; */
}

/*section {
    display: none;
}

section.active {
    display: block;
}*/
