body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-position: 0 0;
    background-repeat: repeat;
    /* background-image: url('../images/pattern.png'); */
    background-color: #e6d1f2;
  }

  main {
    flex: 1 0 auto;
  }

/* .preloader-wrapper {
    position: absolute;
    top: calc(25% - 32px);
    left: calc(50% - 32px);
    z-index: 1000;
} */

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: #eee; */

	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

nav {
    border-radius: 0px 0px 20px 20px;
    /* back ground-color: #FCEDF7; */
    background-color: transparent;
}

/* .custom-nav {
    background-image: linear-gradient(to right, #FCEDF7, #78DDBB, #696DCF, #FF85C8, #FF85C8);
    border-radius: 0px 0px 20px 20px;
    padding: 2px;
} */

.brand-logo img {
    height: 37px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.card,/* .tabs, */.btn,.card-action,.material-tooltip {
    border-radius: 20px
    !important
}

.custom-tabs {
    background-color: transparent;
}

h3.truncate {
    margin: 1rem;
}

.offer-image-preview {
    height: 200px;
    margin: 20px 0px 20px 20px;
}
.cards-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.category-card {
    width: 200px;
}

.offer-media-card {
    width: 400px;
}
.news-card {
    width: 300px;
}

.big-logo {
    padding: 5px;
}

.logo-image {
    height: 70px;
    border-radius: 0px;
}

.avatar-image {
    max-height: 350px;
}
a.main-menu:hover {
    background-color: inherit;
}

/*section {
    display: none;
}

section.active {
    display: block;
}*/
