@font-face {
    font-family: "Helvetica-Light";
    src: url("../fonts/Helvetica-Light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica-Bold";
    src: url("../fonts/Helvetica-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ArialRoundedMTProCyr-Bold";
    src: url("../fonts/ArialRoundedMTProCyr-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
